<div class="pure-g content">
  <div class="pure-u-1-5"></div> 
  <div class="pure-u-3-5">
    <div class="pure-menu custom-restricted-width" style="padding: 30px;">
      <span class="pure-menu-heading">Paniers disponibles</span>
      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Regions</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Fermiers</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Aliments</a></li>
      <ul>
    </div>
  </div> 
  <div class="pure-u-1-5"></div> 
</div>
