<footer class="pure-g">
  <div class="pure-u-1-5"></div>
  <div class="pure-u-3-5">
    <ul>
      <li>Nous joindre</li>
    </ul>
    <div id="countdown">Paniers disponibles: 14</div>
  </div>
  <div class="pure-u-1-5"></div>
</footer>
