<header class="pure-g">
  <div class="pure-u-1-5"></div>
  <div class="pure-u-3-5">
    <div class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Ville nourrici&egrave;re</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Objectifs</a></li>
      </ul>
    </div>
  </div>
  <div class="pure-u-1-5"></div>
</header>
